* {
    padding: 0;
    margin: 0;
}

.divMain {
    text-align: center;
}

.divFooter,
.divHeader {
    padding-left: 20px;
    padding-top: 10px;
    display: flex;  
    background-color: black;
    color: white;
    height: 100px;
}